<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
    <script defer src="https://pyscript.net/latest/pyscript.js"></script>
</head>
<body>
    <py-script>
import requests
reqUrl = "http://127.0.0.1:8000/posts/"

headersList = {
 "Accept": "*/*",
 "User-Agent": "PyScript Tester" 
}

payload = ""

response = requests.request("GET", reqUrl, data=payload,  headers=headersList)

pprint(response.text)
    </py-script>
</body>
</html>